.container-pagina-contato {
    max-width: 1176px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7%;
    padding-block: 40px;
}

.formulario-pagina-contato .wpcf7-text,
.formulario-pagina-contato .wpcf7-textarea{
    margin-bottom: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: var(--cinza-claro);
    outline: none;
    border: 1px solid var(--cinza);
    color: var(--cinza);
}

.formulario-pagina-contato .wpcf7-submit {
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    color: var(--branco);
    background: var(--azul-claro);
    font-weight: 700;
}

.container-pagina-contato h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    olor: var(--azul);
    margin-bottom: 20px;
    
}

.area-contatos li {
    margin-bottom: 10px;
}

.area-contatos svg {
    margin-right: 5px;
}

.redes-sociais a {
    padding: 10px;
    background-color: var(--azul);
    border-radius: 100%;
    margin-right: 10px;
}

.redes-sociais svg {
   margin: 0;
}


@media (max-width: 350px) {
    .container-pagina-contato {
        max-width: 300px;
        margin: 0 auto;
    }

    .formulario-pagina-contato .wpcf7-text,
    .formulario-pagina-contato .wpcf7-textarea{
        width: 90%;
    }

}