.banner-secundario {
    height: 304px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-secundario h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 108.9%;
    text-transform: uppercase;
    position: relative;
    height: 65px;
    left: 10%;
    top: 40%;
    color: var(--branco);
}

/* fim do banner */

/* inicio formulario */

.grid-cursos {
    max-width: 1176px;
    margin: 0 auto;
}

.container-form-cursos {
    margin-block: 50px;
    text-align: center;
    border-radius: 80px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    padding: 35px;
}

.container-form-cursos h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: var(--azul);
    margin-bottom: 20px;
}

.container-form-cursos form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
}

.container-form-cursos p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.container-form-cursos .wpcf7-submit {
    margin-bottom: 10px;
}

/* fim do formulario */

/* inicio dos cards do curso */

.container-cursos {
    display: flex;
    justify-content: center;
    gap: 30px;
    max-width: 1176px;
    margin: 0 auto;
}

.container-cursos .categorias {
    text-align: center;
    width: 309px;
    height: fit-content;
    background-color: var(--cinza-claro);
    margin-top: 40px;
    padding: 10px;

}

.container-cursos .categorias ul:first-child,
 .container-cursos .categorias ul:nth-child(2){
    display: none;
}

.container-cursos .categorias ul li:last-child {
    border: none;
}

.container-cursos .categorias li {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--azul);
    padding: 10px;
    border-bottom: 1px solid var(--verde);
}

.conteudo-cards-cursos {
    padding-block: 40px;
    background: var(--branco);
}

.container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card-cursos {
    width: 289px;
    height: 420px ;
}

.card-cursos img {
    width: 100%;
}

/* Pagina single cursos */

.container-single-cursos .textos-noticias-home {
    max-width: 50%;
}

.container-single-cursos {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1176px;
    margin: 30px auto;
}

.container-info-cursos {
    width: 600px;
}

.container-info-cursos img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.info-cursos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
    background: var(--cinza-claro);
    border-radius: 20px;
}

.info-cursos div {
    margin-bottom: 20px;
    padding: 10px;
}

.info-cursos h3 {
    margin-bottom: 10px;
    color: var(--azul);
}

.info-cursos p {
    color: var(--cinza-escuro);
}

.btn-redes {
    width: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.btn-increver {
    background: var(--azul-claro);
    border-radius: 46px;
    color: var(--branco);
    align-items: center;
    padding: 6.18664px 30.9332px;
    margin-bottom: 20px;
    transition: .3s;
}

.btn-increver:hover {
    background: var(--azul);
}

.btn-wpp {
    align-items: center;
    padding: 6.18664px 30.9332px;
    background: linear-gradient(271.09deg, #7CBF1B 41.14%, #4F8500 99.36%);
    border-radius: 46px;
    color: var(--branco);

}

.btn-wpp:hover {
    background: var(--verde-escuro);
}


@media (max-width: 1300px) {
    .container-form-cursos form {
        flex-direction: column;
    }

    .container-form-cursos p {
        flex-direction: column;
    }

    .container-cards {
        grid-template-columns: 1fr 1fr;
    }


}

@media (max-width: 1050px) {
    .container-single-cursos {
        flex-direction: column;
        align-items: center;
    }

    .container-single-cursos .textos-noticias-home {
        max-width: 100%;
    }

    .container-cards {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 770px) {
    .container-info-cursos img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .container-info-cursos {
        width: 500px;
    }

    .banner-secundario h1 {
        font-size: 30px;
    }

    .categorias {
        display: none;
    }

}

@media (max-width: 500px) {
    .container-info-cursos {
        width: 300px;
    }

    .info-cursos {
        grid-template-columns: 1fr;
    }

    .btn-redes{
        width: 100%;
    }
}